---
---
@import "{{ site.theme }}";



h1, h2, h3, h4, h5, h6 {
  color:#2B5C92;
  margin:0 0 20px;
}

h1 {
  font-size:36px;
  font-weight:600;
}

h2 {
  font-size:31px;
  font-weight:600;
}

h3 {
  font-size:27px;
  font-weight:500;
}

h4 {
  font-size:23px;
  font-weight:500;
}

h5 {
  font-size:19px;
  font-weight:500;
}
a {
  color:#0676c7;
}
